# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

# Some common file extensions we should ignore
/src/**/*~
/src/**/*.swp
/src/**/*.bak
/src/**/*.log
